/* Variables */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blanco: #fff;
    --negro: #000;
    --gris-claro: #f5f5f5;
    --gris-oscuro: #8c8c8c;
    --grafito: #222;
    --rojo: #b81515;
    --rojo-oscuro: #8f1010;
}

/* Reset CSS */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: auto;
    width: 100vw;

}

a {
    text-decoration: none;
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 2rem;
}

/* Header */

#header__container {
    width: 100%;
    height: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Logo  */
.header__logo {
    height: 7.5vh;
}

.header__logo:hover {
    cursor: pointer;
}

/* Nav Links */
.header__nav__links {
    display: flex;
    gap: 5vw;
    list-style: none;
    font-size: 1.5rem;
}

.header__nav__links--link>a {
    color: white;
}

.header__nav__links--link>a:hover {
    color: var(--rojo);
    text-decoration: underline;
}


/* Main */

#main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Banner */

.main__container__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__container__banner__wrapper {
    margin: 0;
}

.main__container__banner__wrapper--img {
    width: 100vw;
    height: 90vh;
}

.main__container__banner__wrapper--caption {
    font-size: 2rem;
    color: var(--grafito);
    text-align: center;
    margin: 10vh 20vw 10vh 20vw;
}

.banner__index {
    background-image: url(./assets/Desktop/desktop-homepage/banner-index.png);
}


/* Subtítulo */

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10vh 0 0 0;
}

.heading__underline {
    width: 10vw;
    height: 4px;
    background: var(--rojo);
    margin: 2rem 0 4rem 0;
}


/* Ofertas */

.main__container__specials {
    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__container__specials--japon {
    background-image: url(./assets/Desktop/desktop-homepage/japon.png);
    height: 30vh;
    width: 45%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.main__container__specials--san-andreas {
    background-image: url(./assets/Desktop/desktop-homepage/san-andreas.png);
    height: 30vh;
    width: 45%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.main__container__specials h2 {
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;

}

.main__container__specials h3 {
    color: var(--blanco);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

.main__container__boton {
    border: none;
    border-radius: 5px;
    background-color: var(--rojo);
    color: var(--blanco);
    width: 10vw;
    height: 5vh;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container__boton:hover {
    background-color: #8f1010;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Búsqueda por Categorias */

.main__container__search {
    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
    gap: 5%;
}

.main__container__search__item {
    border-radius: 10px;
    background-color: var(--gris-claro);
    height: 20vh;
    flex: 1;
    color: inherit;
    transition: transform 0.2s ease;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__container__search__item:hover {
    transform: scale(1.02);

}

/* Destinos Populares */

.main__container__popular-destinations {

    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
    gap: 2%;

}


.main__container__popular-destinations__destination--figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 49%;
}



.main__container__popular-destinations__destination--caption {
    margin-bottom: 3vh;
}


/* Condiciones de Pago */

.main__container__payment {
    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
}

.main__container__payment--figure {
    display: flex;
    gap: 5%;
    margin: 0;

}

.main__container__payment--figure>img {
    max-width: 45vw;
}


/* Testimonios */

.main__container__testimonials {
    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
    gap: 1vw;
}

.main__container__testimonials__card {
    display: flex;
    flex-direction: column;
}

.main__container__testimonials__card--profile {
    display: flex;
}

.main__container__testimonials__card--rating {
    margin-left: 1vw;
}

.star__icon {
    width: 1.5vw;
    height: auto;
}

.testimonial__name {
    color: var(--negro);
}

/* Pre-Footer */

.main__container__pre-footer {
    width: 100vw;
    min-height: auto;
}

/* Footer */

#footer__container {
    background-color: var(--negro);
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer__container__contact-info {
    margin: 3vw;
}

.footer__container__contact-info p,
h3 {
    color: white;
}

.footer__container__contact-info--logo {
    width: 10vw;
    margin-top: 2vh;
}

.footer__container__social-media {
    display: flex;
    flex-direction: column;
    margin: 3vw;

}

.footer__container__social-media h3 {
    font-size: 1rem;
    font-weight: 400;
}

.footer__container__social-media__link-container {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}



/* Blog */

.main__container__banner__wrapper__overlay--caption {
    position: absolute;
    top: 40vh;
    left: 20vw;
    right: 0;
    color: var(--blanco);
    max-width: 30%;
}

.main__container__banner__wrapper__overlay--caption p {
    font-size: 1.5rem;
}

.main__container__blogpost {
    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
}

.main__container__blogpost p {
    margin-bottom: 5vh;
}

.main__container__blogpost p.no-margin {
    margin-bottom: 0;
}

.main__container__blogpost--tokio>img:first-of-type {
    float: right;
    margin: 0 0 1em 1em;
    max-width: 50%;
}

.main__container__blogpost--tokio h3 {
    color: var(--negro)
}

.main__container__blogpost--tokio>figure {
    width: 100%;
    margin: 5vh 0 5vh 0;
}

.footnote {
    color: var(--grafito);
    font-style: italic;
}

.main__container__blogpost p::after {
    content: "";
    display: block;
    clear: both;
}

.main__container__posts {
    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.main__container__posts__card {
    flex: 1;
}

.main__container__posts__card>figure {
    margin: 0;
}

.main__container__posts__card>figure>img {
    width: 100%;
    height: auto;
}


/* Contacto */

.main__container__contact {
    width: 60vw;
    height: auto;
    margin: 10vh 20vw 10vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__container__contact p {
    text-align: center;
}


.form-container {
    padding: 0;
    width: 40vw;
    background-color: var(--blanco);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 1vw 1vw;
    margin-bottom: 5vh;
    border: none;
    border-bottom: 2px solid var(--gris-claro);
    font-size: 14px;
    background-color: transparent;
    outline: none;
}

input[type="text"]#name {
    border-bottom: 2px solid var(--rojo-oscuro);
}

.half-inputs {
    display: flex;
    justify-content: space-between;
}

.half-inputs input {
    width: 48%;
    border-bottom: 2px solid var(--gris-claro);
}

input:focus {
    border-bottom-color: var(--rojo-oscuro);
}

textarea:focus {
    border-color: var(--rojo-oscuro);
}

textarea {
    border: 2px solid var(--gris-claro);
    resize: none;

}

.main__container__contact__form--button {
    width: 50%;
    padding: 10px;
    background-color: var(--rojo);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    margin-bottom: 10vh;
}

.main__container__contact__form--button:hover {
    background-color: var(--rojo-oscuro);
}

/* Sitio en Construccion */


.construccion__container {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.construccion__container__img {
    height: 50vh;
    width: auto;
}

.construccion__container__caption {
    font-size: 2rem;
    text-align: center;
}

/* Media Queries */

/* Laptop */

@media only screen and (min-width: 1024px) and (max-width: 1440px) {

    html {
        font-size: 14px;
    }

    #header__container {
        padding: 0 5vw 0 5vw;
    }

    #main__container {
        width: 100vw;
    }

    img {
        max-width: 100%;
    }

    .main__container__blogpost,
    .main__container__contact,
    .main__container__payment,
    .main__container__testimonials,
    .main__container__posts,
    .main__container__search,
    .main__container__specials,
    .main__container__popular-destinations {
        width: 90vw;
        margin: 10vh 10vw 10vh 10vw;

    }

    .main__container__banner__wrapper--caption {
        margin: 10vh 5vw 10vh 5vw;
    }

    .main__container__contact__form {
        width: 70vw;
        display: flex;
        justify-content: center;
    }

    .form-container {
        width: 100%;
    }

    .main__container__banner__wrapper__overlay--caption {
        max-width: 40%;
    }

    .heading__underline {
        width: 20vw;
    }

}

/* Tablet Portrait */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 10px;
    }

    p {
        font-size: 1.2rem;
    }

    figcaption {
        font-size: 1.5rem;
    }

    #header__container {
        padding: 0 5vw 0 5vw;
    }

    #main__container {
        width: 100vw;
    }

    img {
        max-width: 100%;
    }

    .header__logo {
        height: 5vh;
    }


    .main__container__blogpost,
    .main__container__contact,
    .main__container__payment,
    .main__container__testimonials,
    .main__container__posts,
    .main__container__search,
    .main__container__specials,
    .main__container__popular-destinations {
        width: 90vw;
        margin: 10vh 10vw 10vh 10vw;

    }

    .main__container__banner__wrapper--caption {
        margin: 10vh 5vw 10vh 5vw;
    }

    .main__container__contact__form {
        width: 70vw;
        display: flex;
        justify-content: center;
    }

    .form-container {
        width: 100%;
    }

    .main__container__banner__wrapper__overlay--caption {
        max-width: 40%;
    }

    .heading__underline {
        width: 20vw;

    }

    .main__container__boton {
        width: 30vw;
    }

    .header__nav__links {
        gap: 3vw;
    }

    .main__container__search {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        /* Adjust gap for spacing */
        width: 80vw;
        /* Adjust the container width for smaller screens */
        margin: 5vh auto;
        /* Center the section */
    }

    .main__container__search__item {
        height: 25vh;
        /* Adjust the height for grid items */
    }

    .main__container__popular-destinations {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .main__container__popular-destinations__destination--figure {
        max-width: 100%;
    }

    .main__container__payment--figure {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .main__container__payment--figure img {
        max-width: 90vw;
    }
}


/* Phone Portrait */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    html {
        font-size: 12px;
    }

    #header__container {
        height: 5vh;
        padding: 0 5vw 0 5vw;
    }

    #main__container {
        width: 100vw;
    }

    img {
        max-width: 100%;
    }

    .header__logo {
        height: 3vh;
    }

    .main__container__banner__wrapper--img {
        height: 50vh;
    }

    .main__container__blogpost,
    .main__container__contact,
    .main__container__payment,
    .main__container__testimonials,
    .main__container__posts,
    .main__container__search,
    .main__container__specials,
    .main__container__popular-destinations {
        width: 90vw;
        margin: 10vh 10vw 10vh 10vw;

    }

    .main__container__banner__wrapper--caption {
        margin: 10vh 5vw 10vh 5vw;
    }

    .main__container__contact__form {
        width: 70vw;
        display: flex;
        justify-content: center;
    }

    .form-container {
        width: 100%;
    }

    .main__container__specials {
        gap: 2vh;
    }

    .main__container__specials--japon {
        height: 30vh;
        width: 100%;

    }

    .main__container__specials--san-andreas {
        height: 30vh;
        width: 100%;
    } 

    .main__container__banner__wrapper__overlay--caption {
        max-width: 40%;
    }

    .heading__underline {
        width: 40vw;

    }

    .main__container__boton {
        width: 30vw;
    }

    .header__nav__links {
        gap: 3vw;
    }

    .main__container__specials {
        flex-direction: column;
    }



    .main__container__search {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        /* Adjust gap for spacing */
        width: 80vw;
        /* Adjust the container width for smaller screens */
        margin: 5vh auto;
        /* Center the section */
    }

    .main__container__search__item {
        height: 25vh;
        /* Adjust the height for grid items */
    }

    .main__container__popular-destinations {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .main__container__popular-destinations__destination--figure {
        max-width: 100%;
    }

    .main__container__payment--figure {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .main__container__payment--figure img {
        max-width: 90vw;
    }

    .main__container__testimonials {
        gap: 1vh;
        flex-direction: column;
    }

    .main__container__banner__wrapper__overlay--caption {
        top: 15vh;
        max-width: 60%;
    }

    .main__container__blogpost--tokio>img:first-of-type {
        float: right;
        height: 20vh;
        min-width: 50%;
    }
    
    .main__container__posts {
        flex-direction: column;
    }

    h2.heading:nth-child(5) {
        text-align: center;
    }

    .construccion__container {
        max-width: 100vw;
        margin: 0;
    }

    .construccion__container__caption {
        text-align: center;
        max-width: 90vw;
    }

    .construccion__container__img {
        height: auto;
        max-width: 50%;
    }

    .main__container__blogpost--tokio > figure:nth-child(6) {
        text-align: center;

    }

    .footer__container__contact-info--logo {
        height: 3vh;
        width: auto;
    }
}

/* XS Phone Portrait */

@media only screen and (max-width: 479px) {
     html {
        font-size: 12px;
    }

    #header__container {
        height: 5vh;
        padding: 0 5vw 0 5vw;
    }

    #main__container {
        width: 100vw;
    }

    img {
        max-width: 100%;
    }

    .header__logo {
        height: 3vh;
    }

    .main__container__banner__wrapper--img {
        height: 50vh;
    }

    .main__container__blogpost,
    .main__container__contact,
    .main__container__payment,
    .main__container__testimonials,
    .main__container__posts,
    .main__container__search,
    .main__container__specials,
    .main__container__popular-destinations {
        width: 90vw;
        margin: 10vh 10vw 10vh 10vw;

    }

    .main__container__banner__wrapper--caption {
        margin: 10vh 5vw 10vh 5vw;
    }

    .main__container__contact__form {
        width: 70vw;
        display: flex;
        justify-content: center;
    }

    .form-container {
        width: 100%;
    }

    .main__container__specials {
        gap: 2vh;
    }

    .main__container__specials--japon {
        height: 30vh;
        width: 100%;

    }

    .main__container__specials--san-andreas {
        height: 30vh;
        width: 100%;
    } 

    .main__container__banner__wrapper__overlay--caption {
        max-width: 40%;
    }

    .heading__underline {
        width: 40vw;

    }

    .main__container__boton {
        width: 30vw;
    }

    .header__nav__links {
        gap: 3vw;
    }

    .main__container__specials {
        flex-direction: column;
    }



    .main__container__search {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        /* Adjust gap for spacing */
        width: 80vw;
        /* Adjust the container width for smaller screens */
        margin: 5vh auto;
        /* Center the section */
    }

    .main__container__search__item {
        height: 25vh;
        /* Adjust the height for grid items */
    }

    .main__container__popular-destinations {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .main__container__popular-destinations__destination--figure {
        max-width: 100%;
    }

    .main__container__payment--figure {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .main__container__payment--figure img {
        max-width: 90vw;
    }

    .main__container__testimonials {
        gap: 1vh;
        flex-direction: column;
    }

    .main__container__banner__wrapper__overlay--caption {
        top: 15vh;
        max-width: 60%;
    }

    .main__container__blogpost--tokio>img:first-of-type {
        float: right;
        height: 20vh;
        min-width: 50%;
    }
    
    .main__container__posts {
        flex-direction: column;
    }

    h2.heading:nth-child(5) {
        text-align: center;
    }

    .construccion__container {
        max-width: 100vw;
        margin: 0;
    }

    .construccion__container__caption {
        text-align: center;
        max-width: 90vw;
    }

    .construccion__container__img {
        height: auto;
        max-width: 50%;
    }

    .main__container__blogpost--tokio > figure:nth-child(6) {
        text-align: center;

    }

    .footer__container__contact-info--logo {
        height: 3vh;
        width: auto;
    }
}